<<<<<<< HEAD
.fraseContainer{
    background-color: black;
    border: 1px solid #fff;
}

.fraseConteudo{
    color:#f00;
    background-color: #fff;
    margin: 0;
=======
.paragrafo{
    color: red;
>>>>>>> fd31b247237b3350bd363c01cdc4443f115c764b
}